<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Delta_onsite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
  </head>
  <body>
    <h1 align="center">Delta_Onsite_Task3</h1>
    <div align="center">
      <img src="https://delta.nitt.edu/images/deltaLogoGreen.png" style="width:150px;height:150px;" alt="Delta_logo">
    </div>
    <p align="center"> <a href="/login">
    <button type="button" name="button">Click here to go to login page</button></a></p>
  </body>
</html>
